body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

.container{
    border: 2px solid black ;
    padding: 15px;
    display: grid;
}

.po{
    font-size: 40px;
}


.but1{
    border-radius: 10px;
    
    font-size: 35px;
    transition: all 0.8s;
    margin: 10px;
}
.but1:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: grey;
}