<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', filename='welcome.css') }}>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="po">Iris Classification</div>
      <button class="but1"><a class="but2" href="/addData">Add Data</a></button>
      <button class="but1">
        <a class="but2" href="/predict"> Predict Species</a>
      </button>
    </div>
  </body>
</html>
